<%- include('header'); -%>

<h1>About To-Do List App</h1>
<p>Welcome to our To-Do List app!</p>
<p>Our app is designed to help you manage your daily tasks and stay organized. Whether you're a busy professional, a
    student, or a homemaker, our app is perfect for anyone who wants to stay on top of their to-do list.</p>
<p>Our app has a clean and intuitive interface that makes it easy to add and manage your tasks. You can create new
    tasks, set due dates, add notes, and mark them as complete once they're done. You can also organize your tasks into
    different categories, such as work, personal, or shopping, to make it easier to prioritize and manage them.</p>
<p>Our app also offers a range of customization options, so you can tailor it to your specific needs. You can choose
    different themes, set reminders for important tasks, and even sync your to-do list across multiple devices.</p>
<%- include('footer'); -%>